asttokens
backcall
colorama
comm
contourpy
debugpy
decorator
executing
fonttools
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
sklearn
stack-data
threadpoolctl
tornado
traitlets
vboxapi
wcwidth
zipp
